
services:
  backend:
    build: ./api-gateway
    container_name: django-backend
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./api-gateway:/app
      - ./api-gateway/media:/app/media
      - ./api-gateway/static:/app/static
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
