site_name: Documentación - Red Social Deportistas
site_description: 'Documentación técnica del proyecto de red social para deportistas.'
site_author: 'jose saavedra y yudai narciso'
site_url: https://josesaavedr.github.io/Red-social-Deportistas/

repo_url: https://github.com/Josesaavedr/Red-social-Deportistas.git
theme:
  name: material
  language: es
  palette:
    # Paleta para modo claro
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro
    # Paleta para modo oscuro
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro
  features:
    - navigation.tabs
    - navigation.top

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format